h2 {
    text-align: center;
}

#header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#header div {
    align-items: center;
    display: flex;
    justify-content: center;
}

h3 {
    text-align: center;
}

#board {
    background-color: #B0B0B0;
    border: 1px black solid;
    height: 40vw;
    margin: 2% auto 2% auto;
    width: 35vw;
}

#mines-grid{
    display: grid;
    width: 80%;
    height: 85%;
    margin: 0 auto 5% auto;
}

.rows {
    display: grid;
    height: 95%;
}

.mine {
    align-items: center;
    background-color: #eee;
    border-style: outset;
    border-width: 5px;
    box-sizing: content-box;
    display: flex;
    font-size: 2em;
    font-weight: 1000;
    justify-content: center;
    text-align: center;
    width: 80%;
}

#game-over-div {
    align-items: center;
    display: flex;
    font-size: 5em;
    justify-content: center;
    position: absolute;
    z-index: 1;
}